<%= form_with(model: task, local: true) do |form| %>

<% if task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<div class="field">
  <%= form.label :deadline_on %>
  <%= form.date_field :deadline_on, min: Date.current %>
</div>

<div class="field">
  <%= form.label :priority %>
  <%= form.select :priority, options_for_select([['低', 'low'], ['中', 'middle'], ['高', 'high']]),  {include_blank: true} %>
</div>

<div class="field">
  <%= form.label :status %>
  <%= form.select :status, options_for_select([['未着手', 'not_started'], ['着手中', 'under_way'], ['完了', 'completed']]), { include_blank: true } %>
</div>

<div class="actions">
  <%= form.submit t('tasks.new.form.create_task'), id: 'create-task' %>
</div>
<% end %>
