<%= form_with(model: task, local: true) do |form| %>

<% if task.errors.any? %>
<div id="error_explanation">
  <h2><%= t('activerecord.errors.models.task.prohibited', count: task.errors.count) %></h2>

  <ul>
    <% task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<div class="field">
  <%= form.label :deadline_on %>
  <%= form.date_field :deadline_on, min: Date.current %>
</div>

<div class="field">
  <%= form.label :priority %>
  <%= form.select :priority, options_for_select([
    [t('helpers.tasks/priority.low'), 'low'],
    [t('helpers.tasks/priority.middle'), 'middle'],
    [t('helpers.tasks/priority.high'), 'high']
  ]), { include_blank: true } %>
</div>

<div class="field">
  <%= form.label :status %>
  <%= form.select :status, options_for_select([
    [t('helpers.tasks/status.not_started'), 'not_started'],
    [t('helpers.tasks/status.under_way'), 'under_way'],
    [t('helpers.tasks/status.completed'), 'completed']
  ]), { include_blank: true } %>
</div>

<div class="actions">
  <%= form.submit t('helpers.submit.create'), id: 'create-task' %>
</div>
<% end %>
