<h1><%= t('view.tasks.index.title') %></h1>
<%# 検索機能 %>
<%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |form| %>
<%# ステータス検索フォーム %>
<%= form.label :status, t('activerecord.attributes.task.status') %>
<%= form.select :status, options_for_select(Task.statuses.keys.map { |key| [Task.human_attribute_name("status.#{key}"), key] }, selected: @search_params[:status]), include_blank: true, id: "search_status" %>
<%# タイトルあいまい検索フォーム %>
<%= form.label :title, "タイトル" %>
<%= form.text_field :title, value: @search_params[:title], id: "search_title" %>
<%= form.submit "検索", id: "search_task" %>
<% end %>

<%# タスクが存在する場合のみタスク一覧を表示 %>
<% if @tasks.any? %>
<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th><%= link_to t('activerecord.attributes.task.deadline_on'), { sort_deadline_on: true, page: params[:page] } %>
      </th>
      <th><%= link_to t('activerecord.attributes.task..priority'), { sort_priority: true, page: params[:page] } %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="task-title"><%= task.title %></td>
      <td class="task-content"><%= task.content %></td>
      <td class="task-created_at"><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td class="deadline_on"><%= task.deadline_on.strftime("%Y-%m-%d") %></td>
      <!-- 優先度の enum の表示 -->
      <td><%= I18n.t("activerecord.enums.task.priority.#{task.priority}") %></td>
      <td><%= I18n.t("activerecord.enums.task.status.#{task.status}") %></td>
      <td><%= link_to t('common.show'), task, class: 'show-task' %></td>
      <td><%= link_to t('common.edit'), edit_task_path(task), class: 'edit-task' %></td>
      <td>
        <%= link_to t('common.destroy'), task,  method: :delete, data: { confirm: t('tasks.index.links.confirm_destroy') }, class: 'destroy-task' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
<!-- ページネーションリンクを表示 -->

<%# 存在しない場合にはメッセージを表示 %>
<% else %>
<p>まだタスクがありません。</p>
<% end %>
<br>
