<h1><%= t('tasks.show.title') %></h1>

<p>
  <strong><%= Task.human_attribute_name(:title) %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:content) %>:</strong>

  <%= @task.content %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:deadline_on) %>:</strong>
  <%= @task.deadline_on %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:priority) %>:</strong>
  <%= Task.human_attribute_name("priority.#{@task.priority}") %>
</p>
<p>
  <strong><%= Task.human_attribute_name(:status) %>:</strong>
  <%= Task.human_attribute_name("status.#{@task.status}") %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:created_at) %>:</strong>
  <%= @task.created_at %>
</p>

<%= link_to t('tasks.show.links.edit'), edit_task_path(@task), id: 'edit-task' %> |
<%= link_to t('tasks.show.links.back'), tasks_path, id: 'back' %>
