<h1>Show Task Page</h1>

<p>
  <strong><%= Task.human_attribute_name(:title) %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:content) %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= Task.human_attribute_name(:created_at) %>:</strong>
  <%= @task.created_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task), id: 'edit-task' %> |
<%= link_to 'Back', tasks_path, id: 'back' %>