<h1>ユーザ一覧ページ</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>管理者権限</th>
      <th>タスク数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin? ? 'あり' : 'なし' %></td>
      <td><%= user.tasks.count %></td>
      <td>
        <%= link_to '詳細', admin_user_path(user), id: 'show-user' %> |
        <%= link_to '編集', edit_admin_user_path(user), id: 'edit-user' %> |
        <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, id: 'destroy-user' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'ユーザを登録する', new_admin_user_path, id: 'add-user' %>
