<h1>ユーザ詳細ページ</h1>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>管理者権限:</strong>
  <%= @user.admin? ? 'あり' : 'なし' %>
</p>

<h2>ユーザのタスク</h2>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>作成日時</th>
      <th>終了期限</th>
      <th>優先度</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.created_at %></td>
      <td><%= task.deadline_on %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', admin_users_path, id: 'back' %>
