<h1><%= t('view.users.admin.show.title') %></h1>

<p>
  <strong><%= t('activerecord.attributes.user.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.admin') %>:</strong>
  <%= @user.admin? ? 'あり' : 'なし' %>
</p>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.task.title') %></th>
      <th><%= t('activerecord.attributes.task.content') %></th>
      <th><%= t('activerecord.attributes.task.created_at') %></th>
      <th><%= t('activerecord.attributes.task.deadline_on') %></th>
      <th><%= t('activerecord.attributes.task.priority') %></th>
      <th><%= t('activerecord.attributes.task.status') %></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.created_at %></td>
      <td><%= task.deadline_on %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('common.back'), admin_users_path, id: 'back' %>
